body {
    background-color: aliceblue;
    background-image: url(/images/howard-bouchevereau-C1H6FOwTspI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 40px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    justify-self: left;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-left: 10px;
}

#start-button, #restart-button {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 10%;
    border-radius: 5px;
}

#scoreboard-container {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#scoreboard-item, #score-to-beat-item {
    display: flex;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    width: 46%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

#scoreboard-text, #score-to-beat-text {
    text-align: center;
    color: white;
    font-size: 2em;
}

#game-board-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.7);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.board-item {
    padding: 10px;
    width: 15%;
    min-height: 150px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    font-size: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

/* Category Boxes */
.category {
    display: flex;
    background-color: blue;
    font-size: 3em;
    justify-content: space-around;
    color: white;
}

/* Flex Text in the Category Boxes */
.cat-1-item, .cat-2-item, .cat-3-item, .cat-4-item, .cat-5-item {
    align-self: center;
    text-align: center;
}

/* Question Boxes */
.question-box {
    background-color: rgb(32, 92, 255);
}

#modal {
    background-color: rgb(32, 92, 255, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#modal-textbox {
	background-color: rgb(41, 62, 255);
	height: 350px;
	width: 550px;
	border-radius: 5px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
    display: flex;
    flex-direction: column;
}

#question-text {
    display: flex;
    font-size: 3em;
    justify-content: space-around;
    color: white;
    margin-bottom: 60px;
}

#answer-form {
    font-size: 3em;
    color: white;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#player-answer {
    height: 40px;
    width: 300px;
    font-size: 15px;
}

#submit-button {
    height: 45px;
    width: 80px;
}

#modal-footer {
	margin-left: auto;
    margin-right: auto;
    align-items: baseline;
}


/* screens smaller than 1500px wide */
@media screen and (max-width: 1500px) {
    #question-text {
        display: flex;
        font-size: 1em;
        justify-content: space-around;
        color: white;
        margin-bottom: 60px;
    }
}